
  
/* styles.css (o tu archivo de estilos personalizado) */

/* Estilo normal del enlace */
.white-link {
    color: white;
    text-decoration: none; /* Quitamos el subrayado por defecto */
  }
  
  /* Estilo cuando el mouse est치 encima del enlace */
  .white-link:hover {
    text-decoration: underline; /* A침adimos el subrayado cuando el mouse est치 encima */
  }
  /* styles.css (o tu archivo de estilos personalizado) */

/* acomodar tama침o de logo
  .logo {
    width: 200px;
    height: auto;
  }
*/